layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
    }

    pane_template name="ws-terminal" command="bash" {
        args "-lc" "exec bash"
        start_suspended false
    }

    pane_template name="ws-opencode" command="oc" {
        start_suspended true
    }

    pane_template name="ws-helix" command="bash" {
        args "-lc" "if command -v hx >/dev/null 2>&1; then exec hx; elif command -v helix >/dev/null 2>&1; then exec helix; else exec bash; fi"
        start_suspended false
    }

    tab name="Home" focus=true cwd="$HOME" {
        pane stacked=true {
            ws-terminal name="terminal" expanded=true
        }
    }

    tab name="dotfiles" cwd="$HOME/Documents/dotfiles" {
        pane stacked=true {
            ws-terminal name="terminal"
            ws-helix name="helix" expanded=true
            ws-opencode name="opencode"
        }
    }

    tab name="Vault" cwd="$HOME/Documents/Vaults/work/obsidian-vault" {
        pane stacked=true {
            ws-terminal name="terminal"
            ws-helix name="helix" expanded=true
            ws-opencode name="opencode"
        }
    }

}
