[Desktop Entry]
Version=1.0
Name=Hide
Comment=Helix IDE on tmux
Exec=xdg-terminal-exec --app-id=TUI.tile -e bash -lc hide
Terminal=false
Type=Application
Icon=/home/dn/.local/share/icons/hicolor/128x128/apps/hide.png
StartupNotify=true
Categories=Development;
Keywords=editor;ide;helix;tmux;
