[Desktop Entry]
Version=1.0
Name=Netflix
Comment=Watch Netflix
Exec=omarchy-launch-webapp https://www.netflix.com/
Terminal=false
Type=Application
Icon=/home/dn/.local/share/applications/icons/Netflix.png
StartupNotify=true
